<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @domain.domain %>
</p>

<h3>Comments</h3>

<table class="table">
  <% @domain.comments.each do |comment| %>
    <%= render "comments/comment", :comment => comment %>
  <% end %>
</table>

<%= link_to 'Back', domains_path %>
